anyio==4.0.0
cachetools==5.3.0
captcha==0.4
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
comtypes==1.2.0
fastapi==0.97.0
fastapi-middleware==0.1.0
flake8==6.0.0
Flask==2.2.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==3.0.3
Flask-Testing==0.8.1
google-api-core==2.11.0
google-api-python-client==2.81.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.58.0
greenlet==2.0.2
h11==0.14.0
httpcore==0.18.0
httplib2==0.21.0
httpx==0.25.0
idna==3.4
imageio==2.31.1
importlib-metadata==6.8.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy_loader==0.2
MarkupSafe==2.1.1
mccabe==0.7.0
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.1.1
netifaces==0.11.0
networkx==3.1
numpy==1.25.0
oauthlib==3.2.2
packaging==23.1
pbkdf2==1.3
pickle-mixin==1.0.2
pika==1.3.1
Pillow==9.5.0
platformdirs==3.11.0
pluggy==1.3.0
protobuf==4.22.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pydantic==1.10.9
pyflakes==3.0.1
pyparsing==3.0.9
PySide6==6.5.1.1
PySide6-Addons==6.5.1.1
PySide6-Essentials==6.5.1.1
pytest==7.4.2
python-dotenv==1.0.0
python-nmap==0.7.1
PyWavelets==1.4.1
pywifi==1.1.12
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scapy==2.5.0
scikit-image==0.21.0
scipy==1.11.0
shiboken6==6.5.1.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.2
starlette==0.27.0
tifffile==2023.4.12
tomli==2.0.1
tqdm==4.65.0
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.23.2
Werkzeug==2.2.2
wifi==0.3.8
yapf==0.40.1
zipp==3.17.0
